Source: nss-pem
Section: libs
Priority: optional
Maintainer: Cruise.zrz <Cruise.zrz@gmail.com>
Build-Depends: debhelper (>= 10),
 cmake,
 libnss3-dev,
 pkg-config,
# src:nss
 quilt,
 libnspr4-dev (>= 2:4.12),
 zlib1g-dev,
 libsqlite3-dev (>= 3.3.9),
 libnss3-tools:native (>= 2:3.19-1-1~) <cross>
Standards-Version: 4.5.0
Homepage: https://github.com/kdudka/nss-pem
#Vcs-Browser: https://salsa.debian.org/debian/nss-pem
#Vcs-Git: https://salsa.debian.org/debian/nss-pem.git

Package: nss-plugin-pem
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libnsspem
Provides: libnsspem
Multi-Arch: same
Description: PEM file reader for Network Security Services (NSS)
 This package provides a PEM file reader for Network Security Services (NSS),
 implemented as a PKCS#11 module.
